version: '3.8'
<!-- =================== HEADER README CYBERPUNK GITHUB =================== -->
services:
  streamorganizer:
    # Costruisce l'immagine usando il Dockerfile nella cartella corrente
    build: .
    container_name: streamorganizer_app
    # Mappa la porta 8080  alla porta interna 7860
    ports:
      - "8080:7860"
    # Carica le variabili d'ambiente (per la MONITOR_KEY) dal file .env
    env_file:
      - ./.env
    # Riavvia il container automaticamente se si spegne o crasha
    restart: unless-stopped
    networks:
      - streamorganizer_net

networks:
  streamorganizer_net:
    driver: bridge
